* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Matter Light, Matter, Roboto Flex, Roboto, Roboto Medium;
}
:root {
  --swiper-navigation-size: 44px;
  --swiper-navigation-color: black;
}
a,
li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.cursor {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  pointer-events: none;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
}
.cursor-text {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0;
  white-space: nowrap;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
header {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  min-height: 50px;
}
.icon {
  display: none;
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: 60px;
}
.navlink {
  font-size: 1rem;
  font-weight: 540;
  color: black;
  margin-left: 10px;
  text-decoration: none;
}
.navlink:hover {
  text-decoration: underline 2px solid black;
}
.logo-img {
  margin-right: auto;
  margin-left: 3px;
}
.logo-img img {
  height: 25px;
  margin-left: 60px;
}
.navbar a {
  color: black;
  padding-right: 10px;
  border-right: 2px solid black;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
}
.navbar a:last-child {
  border-right: none;
}
nav li a {
  color: black;
  text-decoration: none;
  padding-right: 10px;
  border-right: 2px solid black;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
}
nav li:last-child a {
  border-right: none;
}
.menu-icon {
  display: none;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
}
.menu-icon div {
  display: block;
  background-color: black;
  height: 2px;
  width: 24px;
  transition: 0.3s;
}
.Move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.Move .line2 {
  opacity: 0;
}
.Move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
.nav-second {
  width: 100%;
  height: 77px;
}
.image img {
  height: 55px;
  width: 80px;
  position: relative;
  top: 10px;
  left: 30px;
}
.sec-chk {
  display: flex;
  justify-content: right;
}
.move {
  position: relative;
  bottom: 42px;
  right: 120px;
}
.move a {
  position: relative;
  right: 95px;
  font-size: large;
  font-weight: 500;
  gap: 5px;
}
@media screen and (max-width: 1024px) {
  .move a:nth-last-child(-n + 5) {
    display: none;
  }
}
@media screen and (max-width: 899px) {
  .nav-second {
    display: none;
  }
  header {
    background-color: #fff;
  }
}
@media (max-width: 740px) {
  header {
    background-color: #fff;
  }
  .menu-icon {
    display: flex;
  }
  .navbar a {
    color: black;
    padding-right: 10px;
    border-right: none;
    font-size: large;
    font-weight: 550;
    font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
  }
  .navbar a:last-child {
    border-right: none;
  }
  .navbar {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    width: 300px;
    background-color: white;
    padding: 0;
    z-index: 10;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .open-menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .navlink {
    display: block;
    margin-bottom: 1.3rem;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon a {
    margin-right: 35px;
    color: black;
  }
  .icon a:hover {
    background: #707072;
    border-radius: 20px;
    padding: 4px 5px;
  }
  .ri-search-line,
  .ri-shopping-cart-line {
    font-size: 24px;
  }
}
.ser-box {
  position: relative;
  right: 50px;
  height: 40px;
  width: 160px;
  border-radius: 20px;
  background-color: #f5f5f5;
  outline: none;
  cursor: text;
}
::placeholder {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  color: lightgray;
}
.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  right: 200px;
  font-size: 18px;
}
.icons {
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 32px;
  left: 45px;
  gap: 25px;
  font-size: x-large;
}
.heart-icon {
  color: #aaa;
  transition: 0.3s ease;
}
.heart-icon:hover {
  color: red;
}
.center {
  background-color: #f5f5f5;
  height: 80px;
  padding: 20px;
}
.text {
  text-align: center;
  position: relative;
  bottom: 11px;
}
.text p {
  text-align: center;
}
.p-txt1 {
  font-size: 20px;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
}
.p-txt2 {
  font-size: 13px;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
}
.sp-txt {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .p-txt1 {
    font-size: 15px;
  }
  .p-txt2 {
    font-size: 11px;
  }
  .sp-txt {
    font-size: 12px;
  }
}
.vedio-container {
  position: relative;
  top: 5px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
video {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.93;
  /* filter: grayscale(0.9); */
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  text-align: center;
  mix-blend-mode: overlay;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text-overlay p {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .text-overlay {
    font-size: 25px;
  }
}
@media screen and (max-width: 480px) {
  .vedio-container {
    width: 100%;
    padding: 0 0px;
  }
  .text-overlay {
    font-size: 20px;
  }
}
.section-below-video {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  height: 253px;
}
.shop-now-button {
  position: relative;
  top: 40px;
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}
.shop-now-button:hover {
  background-color: gray;
  border: 2px solid black;
  font-weight: bold;
}
.section-below-video h2 {
  font-size: 5.8rem;
  letter-spacing: 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.section-below-video p {
  font-size: larger;
  font-weight: 200;
}
.txt-sp {
  position: relative;
  top: 20px;
}
@media screen and (max-width: 768px) {
  .section-below-video {
    max-width: 100%;
    height: auto;
  }

  .section-below-video h2 {
    font-size: 3.6rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .section-below-video p,
  .shop-now-button {
    font-size: 1rem;
  }
  .shop-now-button {
    top: 20px;
  }
  .txt-sp {
    top: 10px;
  }
}
@media only screen and (max-width: 355px) {
  .section-below-video h2 {
    font-size: 3.4rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
.slider-container {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  padding-bottom: 25px;
}
.slider-wrapper {
  display: flex;
}

.slider {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 20px;
  margin-right: 50px;
}
.slide {
  flex: 0 0 auto;
  margin-right: 18px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.slide:hover {
  transform: translateY(-5px);
}
.slider-text p {
  margin-top: 0.5rem;
  font-weight: bold;
  line-height: 1.1rem;
}
.light-txt {
  color: gray;
}
/* scrollbar */
.slider-container::-webkit-scrollbar {
  width: 10px;
}

.slider-container::-webkit-scrollbar-track {
  background: transparent;
}

.slider-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
  border: transparent;
}

.slider-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 768px) {
  .slider {
    padding-left: 20px;
    padding-right: 15px;
    margin-right: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .slide {
    flex: 0 0 auto;
    margin-right: 18px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    scroll-snap-align: center;
    margin-bottom: 10px;
  }

  .slide:last-child {
    margin-right: 10px;
  }
}
@media screen and (max-width: 400px) {
  .slide img {
    width: 363px;
  }
  .slider-text {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .slide img {
    width: 345px;
  }
}
@media only screen and (max-width: 355px) {
  .slide img {
    width: 300px;
  }
}
.icons-of-air-txt {
  position: relative;
  top: 35px;
  margin-left: 20px;
  margin-bottom: 4rem;
  font-size: x-large;
  font-weight: 600;
}
.slide img {
  max-width: 460px;
  max-height: 631px;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-gallery-txt {
  width: 100%;
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 30px;
  text-align: center;
}
.img-container {
  flex: 1;
  margin: 30px;
}
.img-container img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .img-container {
    max-width: 100%;
  }
}
@media screen and (max-width: 570px) {
  .img-container {
    max-width: 100%;
    margin: 8px;
  }
}

.img-heading {
  margin-top: 5px;
  text-align: center;
}
.img-heading h5 {
  font-size: 1.2rem;
  margin-bottom: 0px;
}
.img-heading h1 {
  margin-bottom: 15px;
  font-size: 5rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0em;
}

.text-container p {
  text-align: center;
  padding: 0 290px;
  font-weight: 500;
  color: black;
}
.text-container p {
  max-height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.8em;
}
.imgheadingbutton {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 19px;
  border-radius: 20px;
  margin-top: 10px;
}
.imgheadingbutton:hover {
  background-color: gray;
  transition: 0.5s ease;
}
@media screen and (max-width: 768px) {
  .img-heading h1 {
    font-size: 3.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .text-container p {
    padding: 0 20px;
  }

  .imgheadingbutton {
    font-size: 16px;
  }
  .img-container {
    width: 50%; /* Two images per row on smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .img-heading h1 {
    font-size: 2.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .text-container p {
    padding: 0 10px;
  }

  .imgheadingbutton {
    font-size: 14px;
  }
  .img-container {
    width: 100%;
  }
}
.new-product {
  padding: 60px 0;
  padding-bottom: 10px;
}
.seection-tittle {
  display: flex;
  margin-bottom: 30px;
  margin-left: 35px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.product-card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.product-banner {
  height: 245px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 25px;
}
.product-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-title {
  margin-bottom: 15px;
  font-size: large;
  color: gray;
  font-weight: 800;
}
.product-content {
  display: flex;
  justify-content: space-between;
  margin-right: 18px;
}
.sportbutton {
  color: black;
  font-size: large;
  text-decoration: underline 1.5px;
}
.product-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-container {
  margin: 65px;
  text-align: center;
}
.section-container h4 {
  text-decoration: underline 2px;
  cursor: pointer;
}
.section-list {
  list-style-type: none;
  padding: 0;
  margin-top: 35px;
}
.section-list li {
  text-align: center;
  margin: 20px 0;
  font-size: medium;
  color: #707072;
  font-weight: 700;
}
.section-list li:hover {
  color: black;
  transition: 0.3s ease;
}
@media (max-width: 765px) {
  .product-sec {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-container {
    margin: 15px;
    text-align: left;
  }
  .section-container h4 {
    font-size: large;
    cursor: pointer;
    text-decoration: underline 2px;
  }

  .section-list {
    display: none;
  }
}
footer {
  background-color: black;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-row,
.footer-column {
  flex: 1 1 200px; /* Adjust the width as needed */
}
.footer-row {
  margin-top: 35px;
  margin-left: 20px;
}
.footer-row h5 {
  color: #fff;
  text-transform: uppercase;
  font-family: Nike TG, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 8px 0;
  cursor: pointer;
}
.footer-row h5:hover {
  color: #7e7e7e;
}
.footer-column {
  color: #fff;
  margin: 50px;
  /* background-color: aqua; */
  flex: 1;
  position: relative;
  right: 210px;
}
.footer-column li {
  color: #7e7e7e;
  font-size: 12px;
  line-height: 2.333333333333333;
  font-weight: 400;
  cursor: pointer;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
}
.footer-column li:hover {
  color: #fff;
}
.footer-column h3 {
  font-weight: 400;
  letter-spacing: 0.8px;
  color: #fff;
  cursor: pointer;
}
.social-media {
  flex: 0 1 auto;
  flex-shrink: 0;
  margin: 50px 50px 0 0;
}
.social-media i {
  color: black;
  background-color: #7e7e7e;
  padding: 6px;
  margin-right: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.social-media i:hover {
  background-color: #fff;
}
.footer-legal {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-legal p {
  margin-right: auto;
  margin-left: 20px;
  color: #7e7e7e;
  font-size: 12px;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
}
.footer-legal span {
  color: #fff;
  margin-right: 10px;
}
.footer-legal a {
  margin-right: 25px;
  color: #7e7e7e;
  font-size: 13px;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
  line-height: 2.333333333333333;
}
.footer-legal a:hover {
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .footer-column {
    display: none;
    margin: 10px auto;
  }
  .footer-row h3 {
    margin-bottom: 10px;
  }
  .social-media {
    margin: 10px auto 0;
  }
  .footer-legal {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-legal p {
    margin-left: 10px;
  }
  .footer-legal a {
    margin-left: 10px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 499px) {
  .footer-row {
    margin-left: 10px; /* Set margin-left*/
  }
  .footer-row h5 {
    font-size: 12px;
  }
  .social-media {
    margin-top: 15px;
  }
}
@media screen and (max-width: 373px) {
  .social-media {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .social-media i {
    margin-bottom: 5px; /* Add margin between social media icons */
  }
}
